@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --primary: #b90000;
    --secondary: #ffffff;
    --terciary: #E43071;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

body{
    font-family: 'Open Sans', sans-serif;
}

section{
    top: 10vh;
    position: relative;
}