footer{
    min-height:40vh;
    margin-top: 250px;
    padding: 60px 40px 0px 40px;
    background-color: #0f0f1f;
}

footer .rowfooter{
    display: flex;
    justify-content: flex-start;
}

footer .rowfooter .contentfooter{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

footer .rowfooter h3{
    color: #ffffff;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

footer .rowfooter li{
    color: #ffffff;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

footer .rowfooter li a{
    color: #ffffff;
    font-size: 0.9rem;
    text-decoration: none;
}

footer .rowfooter li i{
    color: #E43071;
    font-size: 1.2rem;
    margin-right: 10px;
}

footer .rowfooter .contentfooter .contatofooter .socialmediafooter{
    display: flex;
    justify-content: space-between;
}

footer .rowfooter .contentfooter .contatofooter .socialmediafooter i{
    background-color: #80808063;
    padding:7px 5px 5px 5px;
    color: #ffffff;
    font-size: 0.8rem;
    border-radius: 999px;
}

@media screen and (max-width:992px){
    footer .rowfooter{
        flex-direction: column;
    }

    footer .rowfooter .contentfooter{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 30px;
    }

    footer .rowfooter .contentfooter .contatofooter{
        margin-top: 20px;
    }
}