.contato{
    height: 80vh;
}

.contato .textcontent h2{
    padding-top: 20px;
    font-size: 2.5rem;
    font-weight: bolder;
}

.contato form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 40%;
}

.contato form .row{
    margin: 20px; 
    display: flex;
    height: 100%;
    width: 100%;
}

.contato form .row .inputfield{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 20px;
}

.contato form .row .inputfield label{
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 10px;
    color: #808080;
}

.contato form .row .inputfield input{
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    font-size: 1.2rem;
    border: 1px solid #808080;
}

.contato form .row .inputfield textarea{
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    resize: none;
    border: 1px solid #808080;
}

.contato form .buttonform button{
    font-size: 0.9rem;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #1164ff;
    cursor: pointer;
}
.error{
    color: #ff0000;
    font-weight: lighter;
    font-size: 0.8rem;
    padding: 8px;
}

.adress-map{
    height: 80vh;
    margin-top: 20vh;
    text-align: center;
}

.adress-map h2{
    font-size: 2.5rem;
    font-weight: bolder;
}

.adress-map .mapFlex{
    display: flex;
    justify-content: center;
}

.adress-map #map {
    height: 60vh;
    width: 70%;
}

@media screen and (max-width:992px){
    .contato{
        min-height: 100vh;
    }
    
    .contato .textcontent h2{
        font-size: 2rem;
    }
    
    .contato form{
        width: 80%;
    }
    
    .contato form .row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }
    
    .contato form .row .inputfield{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px 0px 20px 0px 
    }
    
    .contato form .row .inputfield input{
        font-size: 1rem;
    }
    
    .contato form .row .inputfield textarea{
        font-size: 1.1rem;
    }

}