nav{
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: var(--primary);
    height: 10vh;
    width: 100%;
    z-index: 999;
}

nav img{
    height: 100%;
    margin-left: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li{
    margin-right: 20px;
    font-size: 20px;
    color: #ffffff;
}

nav ul li a{
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

nav ul li button{
    font-size: 18px;
    color: #b90000;
    background-color: #ffffff;
    width: 120px;
    height: 35px;
    border-radius: 150px;
    border: none;
    cursor: pointer;
}

nav ul li button:hover{
    color: #ffffff;
    background-color: #b90000;
    transition: 400ms;
    border: 1px solid #ffffff;
}

nav .menu{
    display: none;
}

main aside{
    display: none;
}

@media screen and (max-width:992px){
    nav ul{
        display: none;
    }
    nav .menu{
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        color: #ffffff;
        margin-right: 30px;
        cursor: pointer;
    }
    main aside{
        display: flex;
        height: 90vh;
        position: fixed;
        top: 10vh;
        width: 260px;
        background-color: #ffffff;
        z-index: 999;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 40px;
    }
    main aside ul li{
        margin-bottom: 30px;
        text-align: center;
        border: 2px solid var(--primary);
        border-radius: 50px;
        padding: 15px;
        width: 200px;
    }
    main aside ul li a{
        text-decoration: none;
        color: var(--primary);
    }
    main aside ul .buttonsidebar{
        background-color: var(--primary);
    }
    main aside ul .buttonsidebar a{
        color: #ffffff;
    }
    .background{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: #ffffffb7;
        top: 10px;
        z-index: 989;
    }

}