
.hero{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/hero.jpg);
    background-size: cover;
}

.hero .text-content{
    color: #ffffff;
    text-align: center;
}

.hero .text-content h1{
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.hero .text-content h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.hero .text-content button{
    width: 250px;
    font-size: 15px;
    color: #ffffff;
    background-color: #b90000;
    height: 50px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
}

.hero .text-content button:hover{
    color: #b90000;
    background-color: #ffffff;
    transition: 400ms;
}

.beneficios h2{
    font-size: 35px;
    font-weight: bolder;
    margin-top: 30px;
}

.beneficios .item{
    margin-top: 40px;
    display:flex;
    justify-content: space-between;
    width: 80%;
    flex-direction: row;
    align-items: center;
}

.beneficios .item .itemphoto{
    display:flex;
    justify-content: left;
}

.beneficios .item.reverse{
    flex-direction: row-reverse;
}

.beneficios .item.reverse .itemphoto{
    justify-content: right;
}

.beneficios .item .itemphoto .imgitem{
    width: 90%;
    height: auto;
}
.beneficios .item .item-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.beneficios .item .item-text h3{
    color: #b90000;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    flex-direction: column;
}

.clients{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #ffffff, #b900006b);
}

.clients .text{
    text-align: left;
}

.clients .text h2{
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.clients .text p{
    font-size: 1.1rem;
}

.clients .containercards{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 30px 50px;
}

.clients .containercards .left{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
    margin-right: 20px;
}

.clients .containercards .left .vertical{
    width: 300px;
    height: 400px;
    margin-top: 20px;
}

.clients .containercards .right{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-top: 200px;
}

.clients .containercards .right .horizontal{
    width: 400px;
    height: 280px;
}

.clients .containercards .right .retangular{
    margin-top: 20px;
    width: 330px;
    height: 250px;
}

.clients .containercards .card{
    display: flex;
    flex-direction: column;
    padding: 40px 20px 10px 30px;
    background-color: #ffffff;
    box-shadow: 2px 2px 6px 2px #0000003f;
    text-align: left;
    border-radius: 10px;
    min-width: 200px;
}

.clients .containercards .card .cardcontent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.clients .containercards .card .cardcontent .person{
    display: flex;
    align-items: center;
    padding: 30px;
}

.clients .containercards .card .cardcontent .person .image{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 999px;
}

.clients .containercards .card .cardcontent .person .textcontent{
    margin-left: 20px;
}

.clients .containercards .card .cardcontent .person h4{
    font-size: 1.2rem;
    font-weight: bold;
}

.clients .containercards .card .cardcontent .person span{
    font-size: 0.8rem;
    color: #808080;
    margin-top: 10px;
}

.clients .containercards .card h3{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: var(--terciary);
    font-weight: bolder;
}

.clients .containercards .card q{
    font-size: .7rem;
    line-height: 2rem;
    padding-left: 30px;
    position: relative;
}
.clients .containercards .card q::before{
    content: "“";
    font-family:"ABeeZee", serif;
    font-style: italic;
    font-size: 5rem;
    color:#b900006b;
    position: absolute;
    top: 5px;
    left: -18px;
}

.conheca{
    min-height: 80vh;
}

.conheca .textcontent{
    margin: 30px 0px 80px 0px;
    text-align: center;
}

.conheca .textcontent h2{
    font-size: 2.5rem;
    font-weight: bolder;
}

.conheca .textcontent p{
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 500;
}

.conheca .cards{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.conheca .cards .card{
    display: flex;
    flex-direction: column;
    padding: 30px 30px 10px 30px;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px 2px #0000003f;
    border-radius: 10px;
    width: 20%;
    min-width: 100px;
    height: 200px;   
}

.conheca .cards .card .cardcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conheca .cards .card .cardcontent h3{
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: bolder;
    text-align: center;
    color: grey;
}

.fotosdaacademia{
    min-height: 50vh
}

.fotosdaacademia .textcontent{
    margin: 0px 0px 30px 0px;
    text-align: center;
}

.fotosdaacademia .textcontent h2{
    font-size: 2.5rem;
    font-weight: bolder;
}

.fotosdaacademia .imagelist{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fotosdaacademia .imagelist .image{
    height: auto;
    width: 33%;
    padding: 0px 5px;
}

@media screen and (max-width:992px){

    .hero .text-content h1{
        font-size: 3rem;
    }
    .hero .text-content h3{
        font-size: 1.5rem;
    }
    .beneficios .item{
        flex-direction: column;
        justify-content: center;
    }
    .beneficios .item.reverse{
        flex-direction: column;
        justify-content: center;
    }
    .beneficios .item .itemphoto{
        align-items: center;
        justify-content: center;
        width: 60%;
        aspect-ratio: 16/9;
        overflow: hidden;
    }
    .beneficios .item.reverse .itemphoto{
        align-items: center;
        justify-content: center;
    }
    .beneficios .item .item-text{
        max-width: 100%;
        width: 100%;
        margin-top: 30px;
    }
    .clients .text{
        text-align: center;
    }
    
    .clients .text h2{
        font-size: 2rem;
        font-weight: bolder;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
    
    .clients .text p{
        font-size: 1.3rem;
    }
    
    .clients .containercards{
        flex-direction: column;
    }
    
    .clients .containercards .left{
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-right: 0px;
    }

    .clients .containercards .right{
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 0px;
    }
    
    .clients .containercards .left .vertical{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    
    .clients .containercards .right .horizontal{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    
    .clients .containercards .right .retangular{
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    
    .clients .containercards .card{
        min-width: 100%;
    }

    .clients .containercards .card .cardcontent .person .image{
        width: 50px;
        height: 50px;
    }
    
    .clients .containercards .card .cardcontent .person h4{
        font-size: 1rem;
    }
    
    .clients .containercards .card .cardcontent .person span{
        font-size: 0.7rem;
    }
    
    .clients .containercards .card h3{
        font-size: 1.5rem;
    }
    
    .clients .containercards .card q{
        font-size: .7rem;
        line-height: 1.5rem;
    }

    .clients .containercards .card q::before{
        font-size: 4rem;
    }
    
    .conheca .cards{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .conheca .cards .card{
        width: 80%;
        margin-bottom: 20px;
    }

    .fotosdaacademia .imagelist{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fotosdaacademia .imagelist .image{
        width: 90%;
        margin-bottom: 20px;
    }
}