nav{
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: #b90000;
    height: 10vh;
    width: 100%;
    z-index: 999;
}

nav img{
    margin-left: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li{
    margin-right: 20px;
    font-size: 20px;
    color: #ffffff;
}

nav ul li button{
    font-size: 18px;
    color: #b90000;
    background-color: #ffffff;
    width: 120px;
    height: 35px;
    border-radius: 150px;
    border: none
}

nav ul li button:hover{
    color: #ffffff;
    background-color: #b90000;
    transition: 400ms;
    border: 1px solid #ffffff;
}

.hero{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/hero.jpg);
    background-size: cover;
}

.hero .text-content{
    color: #ffffff;
    text-align: center;
}

.hero .text-content h1{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero .text-content h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.hero .text-content button{
    width: 250px;
    font-size: 15px;
    color: #ffffff;
    background-color: #b90000;
    height: 50px;
    border: none;
    border-radius: 999px;
}

.hero .text-content button:hover{
    color: #b90000;
    background-color: #ffffff;
    transition: 400ms;
}

.beneficios h2{
    font-size: 35px;
    font-weight: bold;
    margin-top: 30px;
}

.beneficios .item{
    margin-top: 40px;
    display:flex;
    justify-content: space-between;
    width: 90%;
    flex-direction: row;
    align-items: center;
}

.beneficios .item .itemphoto{
    display:flex;
    justify-content: left;
}

.beneficios .item .itemphoto .imgitem{
    width: 70%;
    height: auto;
}
.beneficios .item .item-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.beneficios .item .item-text h3{
    color: #b90000;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    flex-direction: column;
}

.clients{
    height: 90vh;
    background-image: linear-gradient(to bottom, #ffffff, #b900006b);
}

.clients .text{
    text-align: center;
}

.clients .text h2{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.clients .text p{
    font-size: 1.1rem;
}

.clients .containercards{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}

.clients .containercards .card{
    display: flex;
    flex-direction: column;
    padding: 10px 20px 5px 20px;
    background-color: #ffffff;
    box-shadow: 2px 2px 6px 2px #0000003f;
    height: 50vh;
    text-align: left;
    width: 20%;
    border-radius: 10px;
}

.clients .containercards .card h3{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #b90000;
    font-weight: bold;
}

.clients .containercards .card q{
    font-size: .7rem;
    line-height: 2rem;
}